.cell {
  width: 50pt; height: 50pt;
  margin: 0pt;
  border: solid #666 1.2pt;
  background: #eee;
  vertical-align: center;
  text-align: center;
  float: left;
}

.hilight { background: #8c8; }

circle { fill: none; stroke: none; }
line   { fill: none; stroke: none; }

.board {
  position: absolute;
}

.thinking {
  width: 150pt;
  position: absolute;
}

.thinking circle {
  fill: none;
  stroke: #aaa;
  stroke-width: 15;
  stroke-dasharray: 54.976, 54.976;
}
.thinking polygon {
  fill: #aaa;
  stroke: #aaa;
  stroke-width: 1;
}

.o circle {
  stroke-width: 10%;
  stroke: #008;
}

.x line {
  stroke-width: 10%;
  stroke: #800;
}

.newgame {
  border: solid #444 1pt;
  font-size: 20pt;
  width: 150pt;
  vertical-align: center;
  text-align: center;
  clear: both;
}

.winner {
  font-size: 20pt;
  width: 150pt;
  vertical-align: center;
  text-align: center;
  clear: both;
}

.cell:nth-child(3n+4) { clear: left; }
