.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tentti {
  color:white;
}

.answer {
  display:inline-block;
  min-width: 20vw;
  padding-right: 2vw;
}

.question {
  border-radius: 2vw;
  padding:1vh 0;
  margin:2vh 0;
}

.answers{
  padding: 5vh 2vw;
  border-radius: 2vw;
}

.flex-container {
  display: inline-flex;
}